.DS_Store
node_modules
/dist
backend/oj-docker-java
backend/oj-nest/dist
backend/oj-recommend-py/.venv
backend/oj-recommend-py/build
backend/oj-recommend-py/*.tar
frontend/dist


# local env files
.env
.env.local
.env.*.local
backend/oj-recommend-py/.env
backend/oj-nest/.env
开发者文档/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
.cursor
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
